# Ignore files not needed for the backend build
frontend/
frontend.Dockerfile
cloudbuild-frontend.yaml

# Ignore files not needed for the frontend build
handlers/
models/
store/
main.go
go.mod
go.sum
Dockerfile
cloudbuild-backend.yaml