# Dependency directories
node_modules/

# Binaries
*_binary
*_bin
backend/backend
frontend/frontend
backend/backend_bin
frontend/frontend_bin
backend_bin
frontend_bin
*.exe
*.test
bin/

# IDE files
.vscode/
.idea/

# Environment variables
.env
.env.*
